body {
    /* font-family: 'Nunito', sans-serif; */
    background-color: #292929;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow-x: hidden;
}

.clip-to-circle {
    clip-path: circle(300px at center);
}

.border-radius-50p {
    border-radius: 50%;
}

.clip-circle {
    clip-path: circle();
}

.relative {
    position: relative;
}

.clear-both {
    clear: both;
}

.square {
    overflow: hidden;
    display: flex;
    /* justify-content: flex-end; */
}


/* .square img {
    margin: 0px;
    padding: 0px;
    height: 100%;
} */

.circle {
    border-radius: 50%;
}

.circle-bottom-left {
    border-radius: 0 0 0 50%;
}

.circle-bottom-right {
    border-radius: 0 50% 0 0;
}

.circle-bottom {
    border-radius: 0 0 15% 50%;
}

.circle-bottom-top {
    border-radius: 50% 0 0 0;
}

.circle-bottom-bottom {
    border-radius: 0 0 50% 0;
}

.translate_50p {
    transform: translateY(-50%);
}

.translate_40p {
    transform: translateY(-40%) translateX(10%);
}

.translate_30p {
    transform: translateY(-30%) translateX(10%);
}

.text-white {
    color: white;
}

.arc_bg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.arc_bg .grey_shade_container,
.arc_bg .grey_shade_container svg {
    width: 100%;
    /* height: 100%; */
}

.arc_bg img {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

section {
    position: relative;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}


/* PUSH MENU */

#main-menu {
    /* border: 1px solid indianred; */
    /* left: -250px; */
    transform: translateX(-250px);
    position: sticky;
    top: 0px;
    width: 250px;
    height: 100%;
    padding: 50px 20px 0px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-menu);
    /* z-index: 99999; */
    opacity: 0;
}

hr {
    border: none;
    height: 1px;
    background: #3e4145;
    margin: 20px 0px;
}

#main-menu ul {
    list-style: none;
    overflow: scroll;
}

#main-menu ul::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

#main-menu ul {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#main-menu ul li a {
    display: block;
    font-weight: 400;
    line-height: 35px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 0.9em;
    /* border-top: 1px solid #eee; */
}

#main-menu ul li a:hover {
    text-decoration: underline;
}

.main-menu-container {
    position: relative;
    z-index: 999999;
    height: 100vh;
}

body.open .main-menu-container {
    width: 250px;
    /* background: indianred; */
}

body.open #main-menu {
    transform: translateX(0px);
    opacity: 1;
}


/* MAIN PAGE */

.page-wrap {
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    position: relative;
}

body.open .page-wrap {
    max-width: 1280px !important;
    /* transform: translateX(125px); */
}


/* MENU TOGGLE ICON */

.menu-button-container {
    position: absolute;
    top: 70px;
    left: 0px;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

body.open .menu-button-container {
    margin-left: 250px;
}

button:focus {
    outline: none;
}

#menu-toggle {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0px 15px 15px 0px;
}

.social-icon {
    width: 24px;
    margin: 0px 6px;
}

.social-icon:hover {
    filter: brightness(130%);
}

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 1280;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
}

.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    visibility: hidden;
}

.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1)~.slider__inner {
    left: 0%;
}

.slider__nav:checked:nth-of-type(2)~.slider__inner {
    left: -100%;
}

.slider__nav:checked:nth-of-type(3)~.slider__inner {
    left: -200%;
}

.slider__nav:checked:nth-of-type(4)~.slider__inner {
    left: -300%;
}

.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__image {
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.slider__caption {
    font-weight: 500;
    margin: 0.5rem 0 0 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 3px;
}

.slider__txt {
    color: #999;
    margin-bottom: 3rem;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    max-width: 300px;
    padding: 3px;
}

@-webkit-keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

.slider_buttons {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    left: calc(50%-200);
    z-index: 9999
}

.slider_buttons {
    margin-right: 20px;
}

.slider_buttons button {
    border: none;
    width: 100px;
    height: 35px;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
    outline: none;
    color: white;
    transition: 0.3s all ease-out;
}

.slider_buttons button:hover {
    background-color: #27292b;
}

.slide-info {
    bottom: 10px;
    margin: auto;
    width: 70%;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-close-slider {
    color: white;
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
    font-weight: 200;
    font-size: 50px;
    transform: rotate(45deg);
    z-index: inherit;
}

@media screen and (max-width: 800px) {
    .slider__image {
        height: 300px;
    }
}